<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canteen Home</title>

    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div id="wrapper">
        <h2>Let's check your interest in NITJ Canteens : </h2>
        <div class="container">

            <div class="item-box">
                <div class="item">
                    <figure class="card">
                        <img src="images/images/samosa.webp" alt="samosa">
                        <figcaption>Samosa</figcaption>
                    </figure>
                </div>
                <div class="poll-area-new">
                    <form action="/samosa/nc" method="post">
                    <button class="poll-btn" type="submit" name="name" value="nc">
                        <div class="poll-btn-box">
                            <div class="poll-canteen">
                                Night Canteen
                            </div>
                            <div class="poll-percentage">
                                35%
                            </div>
                        </div>
                    </button>
                    </form>
                    <form action="/samosa/cc" method="post">
                    <button class="poll-btn" type="submit" name="name" value="cc">
                        <div class="poll-btn-box">
                            <div class="poll-canteen">
                                Campus Cafe
                            </div>
                            <div class="poll-percentage">
                                35%
                            </div>
                        </div>
                    </button>
                    </form>

                    <form action="/samosa/yc" method="post">
                    <button class="poll-btn" type="submit" name="name" value="yc">
                        <div class="poll-btn-box">
                            <div class="poll-canteen">
                                yadev Cafe
                            </div>
                            <div class="poll-percentage">
                                {{percentage}}
                            </div>
                        </div>
                    </button>
                    </form>
                </div>
            </div>

            <div class="item-box">
                <div class="item">
                    <figure class="card">
                        <img src="images/images/tea.jfif" alt="samosa">
                        <figcaption>Tea</figcaption>
                    </figure>
                </div>
                <div class="poll-area-new">
                    <button class="poll-btn">
                        <div class="poll-btn-box">
                            <div class="poll-canteen">
                                Night Canteen
                            </div>
                            <div class="poll-percentage">
                                35%
                            </div>
                        </div>
                    </button>
                    <button class="poll-btn">
                        <div class="poll-btn-box">
                            <div class="poll-canteen">
                                Campus Cafe
                            </div>
                            <div class="poll-percentage">
                                35%
                            </div>
                        </div>
                    </button>
                    <button class="poll-btn">
                        <div class="poll-btn-box">
                            <div class="poll-canteen">
                                Yaadav Canteen
                            </div>
                            <div class="poll-percentage">
                                35%
                            </div>
                        </div>
                    </button>
                </div>
            </div>
            <div class="item-box">
                <div class="item">
                    <figure class="card">
                        <img src="images/images/aloo paratha.webp" alt="samosa">
                        <figcaption>Aloo Paratha</figcaption>
                    </figure>
                </div>
                <div class="poll-area-new">
                    <button class="poll-btn">
                        <div class="poll-btn-box">
                            <div class="poll-canteen">
                                Night Canteen
                            </div>
                            <div class="poll-percentage">
                                35%
                            </div>
                        </div>
                    </button>
                    <button class="poll-btn">
                        <div class="poll-btn-box">
                            <div class="poll-canteen">
                                Campus Cafe
                            </div>
                            <div class="poll-percentage">
                                35%
                            </div>
                        </div>
                    </button>
                    <button class="poll-btn">
                        <div class="poll-btn-box">
                            <div class="poll-canteen">
                                Yaadav Canteen
                            </div>
                            <div class="poll-percentage">
                                35%
                            </div>
                        </div>
                    </button>
                </div>
            </div>
            <div class="item-box">
                <div class="item">
                    <figure class="card">
                        <img src="images/images/maggi.webp" alt="samosa">
                        <figcaption>Maggi</figcaption>
                    </figure>
                </div>
                <div class="poll-area-new">
                    <button class="poll-btn">
                        <div class="poll-btn-box">
                            <div class="poll-canteen">
                                Night Canteen
                            </div>
                            <div class="poll-percentage">
                                35%
                            </div>
                        </div>
                    </button>
                    <button class="poll-btn">
                        <div class="poll-btn-box">
                            <div class="poll-canteen">
                                Campus Cafe
                            </div>
                            <div class="poll-percentage">
                                35%
                            </div>
                        </div>
                    </button>
                    <button class="poll-btn">
                        <div class="poll-btn-box">
                            <div class="poll-canteen">
                                Yaadav Canteen
                            </div>
                            <div class="poll-percentage">
                                35%
                            </div>
                        </div>
                    </button>
                </div>
            </div>
            <div class="item-box">
                <div class="item">
                    <figure class="card">
                        <img src="images/images/momos.webp" alt="samosa">
                        <figcaption>Momos</figcaption>
                    </figure>
                </div>
                <div class="poll-area-new">
                    <button class="poll-btn">
                        <div class="poll-btn-box">
                            <div class="poll-canteen">
                                Night Canteen
                            </div>
                            <div class="poll-percentage">
                                35%
                            </div>
                        </div>
                    </button>
                    <button class="poll-btn">
                        <div class="poll-btn-box">
                            <div class="poll-canteen">
                                Campus Cafe
                            </div>
                            <div class="poll-percentage">
                                35%
                            </div>
                        </div>
                    </button>
                    <button class="poll-btn">
                        <div class="poll-btn-box">
                            <div class="poll-canteen">
                                Yaadav Canteen
                            </div>
                            <div class="poll-percentage">
                                35%
                            </div>
                        </div>
                    </button>
                </div>
            </div>
            <div class="item-box">
                <div class="item">
                    <figure class="card">
                        <img src="images/images/spring roll.jpg" alt="samosa">
                        <figcaption>Spring Roll</figcaption>
                    </figure>
                </div>
                <div class="poll-area-new">
                    <button type="submit" class="poll-btn">
                        <div class="poll-btn-box">
                            <div class="poll-canteen">
                                Night Canteen
                            </div>
                            <div class="poll-percentage">
                                35%
                            </div>
                        </div>
                    </button>
                    <button class="poll-btn">
                        <div class="poll-btn-box">
                            <div class="poll-canteen">
                                Campus Cafe
                            </div>
                            <div class="poll-percentage">
                                35%
                            </div>
                        </div>
                    </button>
                    <button class="poll-btn">
                        <div class="poll-btn-box">
                            <div class="poll-canteen">
                                Yaadav Canteen
                            </div>
                            <div class="poll-percentage">
                                35%
                            </div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>