<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Opening Card</title>
   <style>
      
    
/* Add a black background color to the top navigation */

body{
         /* background: #768667; */
         background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(brr.jpg);
         justify-content:center;
         align-items:center;
         display:flex;
         font-family:Arial, Helvetica, sans-serif;
         min-height:90vh;
      }
.card{
         position:relative;
         width:200px;
         height:300px;
         border-radius:0px 10px 10px 0px;
         background:#f4f4f4; 
         perspective: 100em;
         background-image: linear-gradient(rgba(68, 100, 196, 0.75),rgba(65, 131, 184, 0.75)) , url(brr2.jpg);
         /* background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(3...jpg); */

         justify-content: center;
         align-items: center;
         display: flex;
         perspective: 100em;
         margin:25px;
         box-shadow:30px 40px 40px rgba(0,0,0,0.2);
      }
      .cover{
         position:absolute;
         top:0px;
         left:0px;
         width:100%;
         height:100%;
         /* background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(3...jpg); */
         background: dodgerblue; 
         transform-style: preserve-3d;
         transform-origin: left;
         transition:transform 1s;
         border-radius:0px 10px 10px 0px;
         font-size:30px;
         font-weight: bold;
      }
      .card:hover .cover{
         transform:rotateY(-120deg);
      }
      .coverFront, .coverBack{
         position:absolute;
         width:100%;
         height:100%;
         justify-content: center;
         align-items:center;
         display: flex;
      }
      .coverFront{
          background: rgb(214, 195, 23); 
         /* background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(3...jpg); */
         text-align: center;
         border-radius: 0px 10px 10px 0px ;
         color:#333;
      }
      .coverBack{
         /* /background: #ddd;  */
         border-radius: 10px 0px 0px 10px;
         /* background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(3...jpg); */
         transform:rotateY(180deg);
      }
      .sh_img{
         width:100px;
      }
      .sh_btn{
         border:0px;
         background: dodgerblue;
         border-radius: 5px;
         padding:10px 20px;
         color:#fff;
         margin-top:10px;}
         .sh_btn a {
            color: yellow;
            text-transform: uppercase;
            text-decoration: none;

         }

   </style>
</head>
<body>
   <div class="card">
      <div style="padding: 20px;text-align: center;font-size:12px;">
         <h1>GDSC</h1>
         <p>
         GDSC stands for google development student club is a offical Development and CP club of NIT jalandhar .
         </p>
         <button class="sh_btn"><a href="/clubs/gdsc/all">Explore more</a></button>
      </div>
      
      <div class="cover">
         <div class="coverFront">
            <div>
               <h5>GDSC</h5>
               <img src="image\3...jpg" alt="" class="sh_img">
            </div>
         </div>
         <div class="coverBack"></div>
      </div>
   </div>
   <div class="card">
    <div style="padding: 20px;text-align: center;font-size:12px;">
       <h1>LADC</h1>
       <p>
          LADC is official literary and debating club of NIT jalandhar . LADC deals with all type of oratory events of clg and inter-collage.
       </p>
       <button class="sh_btn"><a href="/clubs/ladc/all">Explore more</a></button>
    </div>
    <div class="cover">
       <div class="coverFront">
          <div>
             <h5>LADC</h5>
             <img src="image\1...jpg" alt="" class="sh_img">
          </div>
       </div>
       <div class="coverBack"></div>
    </div>
 </div>
 
<section>
   <div class="card">
      <div style="padding: 20px;text-align: center;font-size:12px;">
         <h1>Robotics</h1>
         <p>
            R-tist is official literary and debating club of NIT jalandhar. R-tist is group of like minded people who deal in hardware , iot and inovative technology.
         </p>
         <button class="sh_btn"><a href="/clubs/rtist/all">Explore more</a></button>
      </div>
      <div class="cover">
         <div class="coverFront">
            <div>
               <h5>R-tist</h5>
               <img src="image\2...jpg" alt="" class="sh_img">
            </div>
         </div>
         <div class="coverBack"></div>
      </div>
   </div>
   <div class="card">
    <div style="padding: 20px;text-align: center;font-size:12px;">
       <h1>E-cell</h1>
       <p>
          E-cell stands for Enterpeniourship cell of NIT jalandhar.E-cell supports business idea and help to grow managemnent and business.
       </p>
       <button class="sh_btn"><a href="/clubs/ecell/all">Explore more</a></button>
    </div>
    <div class="cover">
       <div class="coverFront">
          <div>
             <h5>E-cell</h5>
             <img src="image\4...jpeg" alt="" class="sh_img">
          </div>
       </div>
       <div class="coverBack"></div>
    </div>
 </div>
   
</section>
<section>
 
    <div class="card">
        <div style="padding: 20px;text-align: center;font-size:12px;">
           <h1>Zeal society</h1>
           <p>
              Zeal society is an official club that deal with fun events and also provides various opportunity to enhance communication skill through various event.
           </p>
           <button class="sh_btn"><a href="/clubs/zeal/all">Explore more</a></button>
        </div>
        <div class="cover">
           <div class="coverFront">
              <div>
                 <h5>Zeal</h5>
                 <img src="image\5...jpeg" alt="" class="sh_img">
              </div>
           </div>
           <div class="coverBack"></div>
        </div>
     </div>
    
 <div class="card">
    <div style="padding: 20px;text-align: center;font-size:12px;">
       <h1>Photography</h1>
       <p>
          Netra is official photography club of NIT jalandhar, if you want to click beautiful photos then this place is only for you.
       </p>
       <button class="sh_btn"><a href="/clubs/netra/all">Explore more</a></button>
    </div>
    <div class="cover">
       <div class="coverFront">
          <div>
             <h5>Netra</h5>
             <img src="image\6...jpeg" alt="" class="sh_img">
          </div>
       </div>
       <div class="coverBack"></div>
    </div>
 </div>

  
   
</section>
<section>
    
    <div class="card">
        <div style="padding: 20px;text-align: center;font-size:12px;">
           <h1>Dance</h1>
           <p>
              SI crew is official dance club of NIT jalandhar.SI-crew is a example of excellence in dance in our collage .
           </p>
           <button class="sh_btn"><a href="/clubs/si-crew/all">Explore more</a></button>
        </div>
        <div class="cover">
           <div class="coverFront">
              <div>
                 <h5>Si-crew</h5>
                 <img src="image\9...jpeg" alt="" class="sh_img">
              </div>
           </div>
           <div class="coverBack"></div>
        </div>
     </div>
     <div class="card">
        <div style="padding: 20px;text-align: center;font-size:12px;">
           <h1>Regional lang.</h1>
           <p>
              Rajbhasa is a official regional language club.Rajbhasa organizes various fun events for permotion of regional languages.
           </p>
           <button class="sh_btn"><a href="/clubs/rajbhasa/all">Explore more</a></button>
        </div>
        <div class="cover">
           <div class="coverFront">
              <div>
                 <h5>Rajbhasa</h5>
                 <img src="image\8...jpeg" alt="" class="sh_img">
              </div>
           </div>
           <div class="coverBack"></div>
        </div>
     </div>
</section>
</body>
</html>