<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <script type="text/javascript"> (function(d, src, c) { var t=d.scripts[d.scripts.length - 1],s=d.createElement('script');s.id='la_x2s6df8d';s.defer=true;s.src=src;s.onload=s.onreadystatechange=function(){var rs=this.readyState;if(rs&&(rs!='complete')&&(rs!='loaded')){return;}c(this);};t.parentElement.insertBefore(s,t.nextSibling);})(document, 'https://samadhan.ladesk.com/scripts/track.js', function(e){ LiveAgent.createButton('qjzt4uvv', e); }); </script>
    <div class="banner">
        <div class="navbar">
            <img src="logo hkml-modified.png" class="logo">
            <ul>
                <li> <button type="button"><a href="/demovideo" class="btnone"> User-Demo  </a> </button></li>
                
            </ul>
        </div>
        <section>
        <div class="content">
        <H1> SAMADHAN </H1>
			<h2>Welcome to samdhan <span class="change_content"> </span> <span style="margin-top: -10px;"> | </span> </h1>
			<p>"Making Collage Life -Easy"</p>
			<button type="button"><a href="/afterloginHome" class="btnone">  Go to site  -->  </a></button>
			
        <button type="button"><a href="/signup" class="btnone"> Login / sign-up  </a> </button>

</div> 
    </div>
    </section>
    
      <style>
        main {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }
  
  section h3 {
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;
  }
  
  section h2 {
    margin: 30px 0 20px 0;
    font-size: 34px;
    font-weight: 450;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
  }
  
  section p {
    font-size: 25px;
    word-spacing: 2px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px black;
  }
  
  section a {
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 50;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.5s ease;
  }
    

      .btn-login {
        color: #16086f;
        transform: translateX(-30%);
        font-size: 180px;
        border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
        
      }

      .btn-signup {
        color: #4617c9;
        transform: translateX(30%);
        border-radius: 25px;
    font-weight: bold;
    background: transparent
      }
      .body{
        width: 1350px;
        height: 618px;
      }
      section .btnone {
    /*background: #00b894;*/
    background: #192a04;
    color: white;
    border-radius: 25px;
  }
  
  .btnone:hover {
    background: #414d69;
    color: white;
    border-radius: 25px;
  }
  
  section .btntwo {
    background: #00b894;
    color: white;
  }
  
  .btntwo:hover {
    background: rgb(11, 167, 22);
    color: #000;
  }
  
  .change_content:after {
    content: "";
    animation: changetext 15s infinite linear;
    color: #cb4d09;
  }
  
  @keyframes changetext {
    0% {
      content: "Get All clubs at the one stop";
    }
    20% {
      content: "Get all internship information";
    }
    35% {
      content: "Your Collage-out problem sorted!!";
    }
    60% {
      content: "Get Best Canteen food Review";
    }
    80% {
      content: " Be Excited ";
    }
    100% {
      content: "Lets explore more !!";
    }
  }
    </style>
    <script>
        const switchers = [...document.querySelectorAll(".switcher")];
  
        switchers.forEach((item) => {
          item.addEventListener("click", function () {
            switchers.forEach((item) =>
              item.parentElement.classList.remove("is-active")
            );
            this.parentElement.classList.add("is-active");
          });
        });
      </script>
    
</body>
</html>