<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>reset password:</h2>
        <form action="/resetPassword" method="post">
            <input type="name" name="name" placeholder="enter your name">
            <input type="password" name="password" placeholder="enter the password">
            <input type="password" name="password" placeholder="confirm password">
            <button type="submit"><a href="/" >update</a></button>
        </form>
    </div>
</body>
</html>