*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

#wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 200% 200%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid black;
}
.heading-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 200px;
    width: 90%;
    margin: auto;
}
.heading-left{
    width: 10%;
    height: 140px;
    margin-top: 1em;
    margin-left: 2em;
    
}
.heading-left img{
    width: 100%;
    height: 100%;
}
.heading-centre{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.2em;
    padding: 0.5em;
}
.club-name{
    font-size: 4em;
    font-weight: bold;
    color: #0E74A5;
}
.club-quote{
    align-self: center;
    font-size: 1.2em;
}
.college-name{
    font-size: 1.5em;
    font-weight: bold;
}
.heading-left img{
    border-radius: 50%;
}
.heading-right{
    width: 10%;
    height: 150px;
    margin-right: 2em;
    margin-top: 1em;
}
.heading-right img{
    width: 100%;
    height: 100%;
}
nav .logo{
    color: white;
    font-size: 33px;
    font-weight: bold;
    line-height: 70px;
    padding-left: 110px;
  }
  nav{
    height: 70px;
    background: #445504;
    box-shadow: 0 3px 15px rgba(223, 5, 5, 0.4);
  }
  nav ul{
    float: right;
    margin-right: 30px;
  }
  nav ul li{
    display: inline-block;
  }
  nav ul li a{
    color: white;
    display: block;
    padding: 0 15px;
    line-height: 70px;
    font-size: 20px;
    background: #406d04;
    transition: .5s;
  }
  nav ul li a:hover,
  nav ul li a.active{
    color: #23dbdb;
  }
  nav ul ul{
    position: absolute;
    top: 85px;
    border-top: 3px solid #23dbdb;
    opacity: 0;
    visibility: hidden;
  }
  nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: .3s linear;
  }
  nav ul ul li{
    width: 150px;
    display: list-item;
    position: relative;
    border: 1px solid #042331;
    border-top: none;
  }
  nav ul ul li a{
    line-height: 50px;
  }
  nav ul ul ul{
    border-top: none;
  }
  nav ul ul ul li{
    position: relative;
    top: -70px;
    left: 150px;
  }
  nav ul ul li a i{
    margin-left: 45px;
  }
  section{
    background: url(bg.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
  }

.navbar{
    background-image: linear-gradient(to right, #4a249e, #57bbf2);
    display:flex;
    justify-content:flex-end;
    width:100%;
    padding:1.5rem;
    overflow: hidden;
    position: sticky;
    top: 0;
}

.nav-items{
    display:flex;
    gap:2rem;
    padding:0 4em;
  }
  
  .nav-items div {
    font-size:22px;
    font-weight:500;
    cursor:pointer;
  }
  a{
    text-decoration: none;
  }
  .nav-items div a{
    color:rgb(166, 11, 11);
    color: black;
  }
  .sub-menu-1{
    display: none}
  .nav-items div a:hover .sub-menu-1{
    color: white;
    display:block;
    position: absolute;
    background: rgb(0,100,0);
    margin-top: 15px;
    margin-left: -15px;
  }
  .nav-items div:hover{
    /* transition: 0.2s; */
    font-weight: bold;
    display:block;
    position: absolute;
    background: rgb(0,100,0);
    margin-top: 15px;
    margin-left: -15px;
    
  }
  
  /* .nav-items-link a:hover .sub-menu-1{
    
  } */

.aboutUs-section{
    height: 250px;
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2em;
    scroll-behavior: auto;
}
.aboutUs-section-item{
    
    box-shadow: 1px 1px 8px gray;
    background-color: gainsboro;
    border-radius: 15px;
    width: 30%;
}
.aboutUs-section-heading{
    color: #3F0678;
    text-align: center;
    font-weight: bold;
    font-size: 2.2em;
}
.aboutUs-section-desc{
    font-size: 1.2em;
    padding: 0.2em;
}
.content-section{
    width: 80%;
    height: 700px;
    margin: auto;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    
}
.content-section h2{
    text-decoration: underline;
    
}
.content-image-box{
    width: 70%;
    margin: auto;
    height: 400px;
    margin-top: 0.5em;
    margin-bottom: 0;
    border-radius: 15px;
}
.content-image-box img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.content{
    width: 50%;
    margin: auto;
    margin-top: 0;
    height: 500px;
    box-shadow: 2px 2px 8px grey;
}
.content p{
    margin: 1em;
    font-size: 1.2em;
}
